body{
    background: burlywood;
    margin: 0 35px 0 35px;
}
.imagel{
    position: relative;
    height: 200px;
    margin: 5px 100px 5px 124px;
}

.imagel:hover{
    border: 2px solid black;
    border-radius: 50px;
    margin: 3px 98px 3px 122px
}

.image{
    height: 150px;
    margin: 10px 10px 10px 10px;
    border: 2px solid;
    padding: 5px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.lname{
    position: relative;
    text-align: center;
    margin: 0 0 0 35px;
}

.menu {
    background: linear-gradient(to right, #e8af64 40%, #deb887 60%);
    overflow: hidden;
    margin-bottom: 50px;
}

.menu a {
    color: black;
    text-align: center;
    padding: 4px 35px;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover{
    color: blue;
}

.now{
    border-style: none none solid none;
    border-color: #b36e15;
}

h1{
    font-size: 45px;
    position: relative;
    text-align: center;
}

p{
    font-size: 20px;
}